.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1240px;
}

.max-grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1.5em;
    width: 100%;
}

.scroll-container{
    margin-top: 25vh;
}

.max-col{
    grid-column-start: 1;
    grid-column-end: -1;
}


.project-description{
    grid-column-start: 6;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
}

.col-10{
    grid-column-start: 2;
    grid-column-end: 12;
}


.col-start-3-right{
    grid-column-start: 4;
    grid-column-end: -1;
}

.col-center-6{
    grid-column-start: 6;
    grid-column-end: 11;
}

.col-project-details-start-4{
    grid-column-start: 4;
    grid-column-end: 7;
}


.col-project-details-start-7{
    grid-column-start: 7;
    grid-column-end: 10;
}


.col-project-details-start-10{
    grid-column-start: 10;
    grid-column-end: 13;
}

.col-prototype{
    grid-column-start: 4;
    grid-column-end: 8;
}

.col-prototype-second-half{
    grid-column-start: 8;
    grid-column-end: 13;
}


.half-bleed-1{
    grid-column-start: 3;
    grid-column-end: 9;
}

.half-bleed-1-side-container{
    
    grid-column-start: 4;
    grid-column-end: 9;
}

.half-bleed-2{
    grid-column-start: 9;
    grid-column-end: 15;
}


.half-bleed-2-side-container{
    grid-column-start: 9;
    grid-column-end: 13;
}

.grid-container-half-bleed-1{
    grid-column-start: 1;
    grid-column-end: 7;
}

.grid-container-half-bleed-2{
    grid-column-start: 7;
    grid-column-end: 13;
}

/* project-details page */

@media only screen and (min-width: 90em) {
    .grid-container{
        max-width: 90vw;
    }
    .col-10{
        grid-column-start: 2;
        grid-column-end: 12;
    }
}

@media only screen and (min-width: 72em) {
    .half-bleed-1{
        grid-column-start: 3;
        grid-column-end: 9;
    }

    .half-bleed-1-side-container{
        
        grid-column-start: 4;
        grid-column-end: 9;
    }
    
    .half-bleed-2{
        grid-column-start: 9;
        grid-column-end: 15;
    }

    
    .half-bleed-2-side-container{
        grid-column-start: 9;
        grid-column-end: 13;
    }

    .grid-container-half-bleed-1{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    
    .grid-container-half-bleed-2{
        grid-column-start: 7;
        grid-column-end: 13;
    }

    .project-container{    
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: .5em;
        width: 100%;
        margin: 20vh auto;
        max-width: 1240px;
        /* testing height */
        height: 55vh;
    }

    .project-container .home-project-container-visual-content{
        grid-column-start: 1;
        grid-column-end: span 4;
    }

    .locomotive-sub-heading{
        grid-column-start: 4;
        grid-column-end: 10;
    }

}

@media only screen and (max-width: 72em) {
    
    /* .locomotive-sub-heading{
        grid-column-start: 4;
        grid-column-end: 15;
    } */
    /* .col-10{
        grid-column-start: 1;
        grid-column-end: -1;
    } */
    .half-bleed-1, .half-bleed-2{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .grid-container-half-bleed-1, .grid-container-half-bleed-2{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .project-container{
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        flex-direction: column;
    }

    .project-container a{
        grid-column-end: -1;
        grid-row-end: -1;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5em;
        width: 100%;
    }
    .col-start-3-right{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .col-center-6 {
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .col-10{
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .half-bleed-2-side-container {
        grid-column-start: 9;
        grid-column-end: 15;
    }
    .col-prototype-second-half {
        grid-column-start: 9;
        grid-column-end: 14;
    }
    .col-prototype {
        grid-column-start: 2;
        grid-column-end: 9;
    }
    .col-project-details-start-4 {
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .col-project-details-start-7 {
        grid-column-start: 7;
        grid-column-end: 12;
    }
    .col-project-details-start-10 {
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .half-bleed-1-side-container {
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .half-bleed-2-side-container {
        grid-column-start: 7;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 50em) {
    .half-bleed-1-side-container {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .half-bleed-2-side-container {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media only screen and (max-width: 32em) {
    .col-center-6 {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    iframe{
        height: auto;
    }
    .grid-container{
        padding: 0;
    }
    .col-start-3-right {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .half-bleed-1-side-container {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .half-bleed-2-side-container {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .col-prototype-second-half {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .col-prototype {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    
    .col-project-details-start-4 {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .col-project-details-start-7 {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .col-project-details-start-10 {
        grid-column-start: 2;
        grid-column-end: 12;
    }
}