*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #312E37;
    color: #FAFFFD;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
}
.social-icon-wrapper {
    /* TODO adjust margins for diagonal alignment or vertical alignment */
    position: absolute;
    bottom: 25vh;
    left: 7.5vw;
    /* display: flex; */
}
.social-icon-wrapper img{
    padding: 9px;
    border-radius:3rem;
    background-color: #312E37;
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3E3A46;

    transition: 0.3s;    
    margin-right: 1.5rem;
}
.social-icon-wrapper img:hover{
    cursor: pointer;
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.25);
}
.overlay-texture{
    /* background-color: #3E3A46; */
    /* background: rgba(0, 0, 0, 0.25); */
    height: 800%;
    width: 100%;
    position: fixed;
    overflow: auto;
    z-index:-4;
    top: 0px;
    left: 0px;
    /* height: 100vh; */
    /* background-image: url("../images/home-hero-2.png") ; */
    background-image: url("../images/bg-texture/diagonal-block.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    line-height: 2rem;
}

.hero-wrapper{
    height: 100vh;
    background-image: url("../images/home-hero-2.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.hero-text{
    padding-bottom: 3rem;
}

.hero-cta{
    display: flex;
}

.hero-cta a{
    margin-left: 0;
}


.hero-cta a:first-child{
    margin-right: 2rem;
}


article .article-full-page{
    height: 100vh;
    margin-top: 20vh;
}

.article-full-page h2{
    letter-spacing: 0.2rem;
}

.project-description a {
    margin-right: 0;
}

.project-details-section{
    margin: 20vh 0;
}

.home-section{
    margin: 25vh 0;
}


li {
    list-style: none;
}

body{
    font-size: 1.5rem;
}

.hero-sub-text, .project-details-description{
    font-size: 1.5rem;
}

.primary-btn{
    font-weight: 600;
    font-size: 1.2rem;
  
    white-space: nowrap;
  
    padding: 1rem;
    width: fit-content;
    margin: auto;
  
    transition: 0.3s;
    border-radius: 10px;
    color: #FAFBFF;
    /* box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #36333c;
    background-color: #242325; */
    background-color: #312E37;
    box-shadow:  8px 8px 16px #242228, -8px -8px 16px #3E3A46;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.secondary-btn{
    font-weight: 600;
    font-size: 1.2rem;
  
    white-space: nowrap;
  
    padding: 1rem;
    width: fit-content;
    margin: auto;
  
    transition: 0.3s;
    border-radius: 10px;
    color: #fafbffaf;
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #36333c;
    background-color: #242325;
    /* background-color: #312E37; */
    /* box-shadow:  8px 8px 16px #242228, -8px -8px 16px #3E3A46; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.primary-btn:hover{
    color: #FFD400;
    /* color: #9dff00; */
}
.primary-btn:active{
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3E3A46;
}
.secondary-btn:hover{
    color:#FAFFFD;
}
.secondary-btn:active{
    color: #ffd500;
}

.portfolio-intro{
    margin: 20vh auto;
    display: flex;
}

.portfolio-intro > *{
    margin: auto;
}

.portfolio-text-banner{
    height: 80vh;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 12;
}

.portfolio-text-banner-wrapper{
    margin: auto;
}

.small-heading-container {
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
}

.small-heading-container h3{
    margin: auto;
    letter-spacing: .2em;
}

.project-container a{
    grid-column-end: -1;
    grid-row-end: -1;
}

/* project tools */

.project-tool-wrapper{   
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 2rem;
}

.project-tools{    
    display: flex;
    flex-wrap: wrap;
}

.project-tools li{
    margin: 1rem 1rem 0 0;
}

.tool-icon-wrapper{
    display: flex;
    flex-direction: column;
}

/* icons */
.icon-wrapper{
    height: 50px;
    width: 50px;
    margin: auto;
}

.protopie-icon{
    background-image: url("../images/icons/protopie-icon.png");
}

.icon-bg{
    /* Full height */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.figma-icon{
    background-image: url("../images/icons/figma-icon.png");
}

.css-icon{
    background-image: url("../images/icons/css-icon.png");
}

.html-icon{
    background-image: url("../images/icons/html-icon.png");
}

.js-icon{
    background-image: url("../images/icons/js-icon.png");
}
/* ends of icons */

cite {
    margin-top: .75rem;
    font-size: 1.1rem;
    color: #969696;
    text-align: center;
}

/* end of project tools */

.highlight-text{
    color: #FFD400;
}



/* .project-description h3{
    margin-top: 3rem;
}
 */

footer{
    height: 20vh;
    background-color: #1f1d22;
    color: #f0f0f1;
    display: flex;
    flex-direction: column;
}

.footer-content ul li {
    list-style: none;
}

.footer-menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.copyright{
    text-align: center;
    margin-bottom: 1em;
    font-size: 1rem;
    color: #898989;
}

.desktop-nav-container{
    justify-content: center;
    /* height: 5rem; */
    display: flex;
    width: 100vw;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgb(120 120 120 / 30%) 42%, rgb(51 51 51 / 30%) 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(122 122 122 / 30%);
    height: 58px;
}

nav{
    position: fixed;
    max-width: 1240px;
    /* box-shadow: 0 4px 2px -2px rgba(0,0,0,.2); */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #bebebe;
}

a {
    text-decoration: none;
    color: inherit;
    color: #bebebe;
}

li a:hover{
    color: #f0f0f1;
}

nav ul li a:hover{
    color: #f0f0f1;
    cursor: pointer;
}

#nav-on{
    color: #f0f0f1;
}

/* side nav */
.sidenav {
    width: auto;
    position: fixed;
    z-index: 1;
    top: 25vh;
    overflow-x: hidden;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #bebebe;
    display: block;
    margin: 2rem 0;
  }

  .sidenav ul li:first-child(){
      margin-top: 0;
  }
  
  .sidenav a:hover {
    color: #FFD400;
  }
/* end of side nav */


h1{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    color: #FAFFFD;
}


.portfolio-header-center{
    text-align: center;
    font-size: 3rem;
    margin: auto;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #FAFFFD;
}

.hero img{
    object-fit: cover;
    width: 100%;
    /* max-height: 25rem; */
    height: auto;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;
}

.project-container .hero img:hover{
    padding: 1.75rem ;
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3e3a46;
    overflow: hidden;
}

.neu-border img{
    padding: 1.75rem;
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3e3a46;
    margin-bottom: 0;
    margin-top: 20vh;
}

.project-cheer span{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 90s linear infinite;
    font-size: 160px;
    will-change: transform; 
    /* animation-direction: normal; */
}

.project-cheer{
    box-shadow: inset 5px 5px 10px #242228, inset -5px -5px 10px #3E3A46;
    grid-column-start: 1;
    grid-column-end: -1;    
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
    border-bottom: 1px #5e5e5e solid;
    border-top: 1px #5e5e5e solid;
    margin: 20vh 0;
    -webkit-text-stroke: 1px #bebebe;
    -webkit-text-fill-color: #312E37;
}

@keyframes marquee{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}

.footer-wrapper{
    margin: auto;
}

.footer-wrapper li{
    margin: 1rem;
}

header{
    z-index: 99;
    /* position: relative; */
}

#myLinks{
    display: none;
    max-height: 60vh;
    transition: max-height 0.3s ease;
}

#myLinks.hidden{
    max-height: 0px;
}

.section-title-annotation{
    display:flex;
}

.section-sub-title-annotation{
    height: auto;
    display: flex;
}

.section-sub-title-annotation .annotation-description{
    padding-bottom: 25vh;
}

.prototype-section-sub-head{
    font-size: 5rem;
}

.section-sub-title-annotation h2{
    margin: auto;
}

.section-title-annotation .annotation-description {
    margin: auto
}

/* project details page */
.project-intro-container{
    margin-top: 25vh;
}

.project-header{
    font-size: 2rem;
}

.prototype-center-sub-h3{
    text-align: center;
    margin-bottom: 1rem;
}

.project-details-container{
    margin-top: 16.5vh;
}

.team-details{
    margin-top: 2rem;
}

.project-details-container {
    margin-top: 1rem;
}

.center-container{
    text-align: center;
}

.project-details-hero img{
    object-fit: cover;
    width: 100%;
    max-height: auto;
    height: auto;
}

.project-details-hero iframe{
    width: 100%;
    object-fit: cover;
}


.project-details-large-header{
    text-transform: uppercase;
}



/* end of project details page */


/* media queries */
/* @media only screen and (min-width: 150em) {
    .portfolio-text-banner h2{
        font-size: 18rem;
    }
    .portfolio-header-center{
        text-align: center;
        font-size: 5rem;
        margin: auto;
    }
    .portfolio-intro-header{
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
        color: #FAFFFD;
    }

} */
@media only screen and (min-width: 72em) {    
    .project-container a{
        margin-top: 2rem;
        margin-right: 1rem;
    }
    .project-details-description, .team-details, .project-tools-wrapper p{
        font-size: 1.5rem;
    }
    .portfolio-header-center{
        text-align: center;
        font-size: 3rem;
        margin: auto;
    }
    .portfolio-text-banner h2{
        font-size: 8rem;
    }
    .project-details-large-header{
        text-align: center;
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .portfolio-intro-header{
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        /* color: #312e37; */
        color: #FAFFFD;
    }
    nav{    
        /* margin: 2.5% auto;
        width: 1240px;
        max-width: 1240px; */
        /* box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%); */

        /* !testing */
        
        /* margin: 2.5% auto;
        width: 85vw;
        max-width: 85vw; */
        /* box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%); */
        
        /* box-shadow: 0 4px 2px -2px rgb(228 228 228 / 20%); */

        /* glassmorphic */
        
        /* background: rgb(115 115 115 / 30%);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgb(120 120 120 / 30%) 42%, rgb(51 51 51 / 30%) 100%);
        backdrop-filter: blur(10px);
        border: 1px solid rgb(122 122 122 / 30%); */

        
    /* background: linear-gradient(
        135deg
        , rgba(255, 255, 255, 0.3) 0%, rgb(120 120 120 / 30%) 42%, rgb(51 51 51 / 30%) 100%);
            backdrop-filter: blur(10px);
            border: 1px solid rgb(122 122 122 / 30%); */
        height: 100%;
    }
    
    header{
        z-index: 99;
        position: fixed;
    }
    .project-description p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .mobile-project-header{
        display: none;
    }

    .desktop-project-header{
        display:flex;
        justify-content: space-between;
        width: 100%;
        max-width: 32em;
        font-size: 5rem;
        margin-top: 0;
        display: block;
    }
    header{
        z-index: 99;
        position: relative;
        justify-content: center;
        height: fit-content;
        display: flex;
    }
    #hamburger-cta{
        position: fixed;
        top: 2rem;
        right: 2rem;
        position: -webkit-sticky;
        display: none;
    }
    .mobile-nav-container{
        display: none;
    }
    .desktop-nav-container{
        display: flex;
    }
}

@media only screen and (max-width: 72em) {
    .mobile-nav-container {
        background-color: rgb(49,46,55, 1);
        display: block;
    }
    .desktop-nav-container{
        display: none;
    }
    #hamburger-cta{
        position: fixed;
        top: 2rem;
        right: 2rem;
        position: -webkit-sticky;
        display: block;
    }

    .sidenav{
        display: none;
    }

    body{
        font-size: 1.1rem;
    }

    footer{
        flex-shrink: 0;
        margin-top: auto;
        height: 20vh;
        display: flex;
        flex-direction: column;
    }

    .mobile-project-header{
        display: block;
        display:flex;
        justify-content: space-between;
        width: 100%;        
        max-width: 32em;
        font-size: 3rem;
        margin-top: 0;
        display: block;
    }

    .desktop-project-header{
        display: none;
    }
    
    .project-description p{
        /* font-size: clamp(1.5rem, 2vw, 4rem); */
        margin-bottom: 2rem;
    }

    .footer-content ul li {
        list-style: none;
    }
    
    .footer-menu{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .hero{
        grid-column: 2/3;
        margin: auto;
    }

    nav ul li {
        margin: 3rem;
        width: 100vw;
        text-align: center;    
    }

    .project-tool-wrapper {    
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 50em) {
    .project-intro-container {
        margin-top: 12.5vh;
    }
    .project-details-section {
        margin: 8vh 0;
    }
    .neu-border img {
        margin-top: 0;
    }
    .project-details-description {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 32em) {
    h1{
        font-size: 3rem;
    }
}

/* s8 */
@media only screen and (max-width: 25em) {
    h1{
        font-size: 2.25rem;
    }
    .project-description p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    .article-full-page h2{
        line-height: 2em;
        font-size: 1.5rem;
    }
    .portfolio-intro h2{
        font-size: 1.5rem;
    }
    .portfolio-intro p{
        font-size: 1.25rem;
        letter-spacing: .2em;
        margin-top: .5rem;
    }
}